/* Fundo com gradiente */
.bg-gradient {
    background: linear-gradient(to bottom, #ffffff, #bdbdbd) !important;
    } 

/* Caixa central */
.login-box {
    width: 100%;
    max-width: 350px;
}

/* Logo */
.logo {
    width: 280px;
    border-radius: 30px;
}

/* Títulos */
.title {
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    margin-top: -8px;
}

.description {
    margin-top: -5px;
    font-size: 14px;
    color: #4f4f4f;
}

/* Caixas de input */
.input-box {
    height: 45px;
    border: 1px solid #000;
    border-radius: 4px;
}

/* Botão principal */
.btn-login {
    background-color: #6c63ff;
    color: white;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
}

/* Login social */
.social-login {
    font-size: 16px;
}

.icon-google {
    width: 50px;  
    height: auto;    
    margin-right: 8px; 
}

/* Esqueceu senha */
.forgot {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

